<!DOCTYPE html>
<html>
  <head>
    <title>Hotrails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class= "nav navbar-expand-lg bg-dark nav-bar">
    <%= link_to "home", root_path %>
    <%= link_to "posts", posts_path %>
  </nav>
    <%= yield %>
  </body>
</html>
